<!DOCTYPE html>
<html lang="en">
<head>
  <title>User Count</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <%= stylesheet_link_tag "cuenta" %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container-fluid">
  <div class="row">
    <header class="col-sm-12">
      <div class="row justify-content-center">
        <h1 class="col-xl-10">Academia Politécnica de Nivelación</h1>
        <!--img id="logo" class="img-responsive" src="images/logonavidad.jpg" alt="logo"-->
        <%= link_to image_tag("logonavidad.jpg", id: "logo", class: "img-responsive") %>
      </div>
    </header>
        
  </div>
	<div class="row sticky-top" id="barralinks">
    	<nav class="navbar navbar-expand-xl navbar-dark col-xl-12">
        	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menuPrincipal">
         		<span class="navbar-toggler-icon"></span>
         	</button>
         	<div id="menuPrincipal" class="collapse navbar-collapse">
           		<ul class="list-inline navbar-nav mx-auto">
              		<li class="mr-5 list-inline-item nav-item active" ><h3 id="welcome">Bienvenido <%= current_estudiante.nombres %> <%= current_estudiante.apellidos %></h3></li>
            	</ul>
            	<ul class="nav navbar-nav navbar-right">
              		<li><h3><%= link_to("Logout", destroy_estudiante_session_path, class: "nav-link", method: "delete") %></h3></li>
            	</ul>
          	</div>
    	</nav>
	</div>

  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#perfil">Perfil</a></li>
    <li><a data-toggle="tab" href="#calificacion">Calificaciones</a></li>
    <li><a data-toggle="tab" href="#curso">Cursos</a></li>
  </ul>

  <div class="tab-content">
    <div id="perfil" class="tab-pane fade in active">
      <h3>Perfil de Usuario</h3>
      <table width=”650" id=”main” border=”0" cellpadding=”0" cellspacing=”20">
 		<tr>
 		<td class=”divider” colspan=”2" bgcolor=”#555555" height=”2"></td>
 		</tr>
 		<tr>
 		<td colspan=”2">
 		<p>Nombres: <%= current_estudiante.nombres %></p>
 		<p>Apellidos: <%= current_estudiante.apellidos %></p>
 		<p>Cedula: <%= current_estudiante.cedula %></p>
 		<p>Fecha de nacimiento: <%= current_estudiante.fecha_nac %></p>
 		<p>Email: <%= current_estudiante.email %></p>
 		<p>Direccion: <%= current_estudiante.domicilio %></p>
 		</td>
 		</tr>
 		<tr>
 		<td class=”divider” colspan=”2" bgcolor=”#555555" height=”2"></td>
 		</tr>
 		<tr>
 		<td id=”footer” colspan=”2" align=”center”>
 		<p>&copy;2019 Academia Politecnica de Nivelacion</p>
 		</td>
 		</tr>
 	  </table>
    <br>
    <a id ="button-edit" class="btn btn-primary" href=<%= edit_article_path(@estudiante) %> role="button">Editar Perfil</a>
    <h4><%= link_to "Cambiar Contraseña", '/estudiantes/edit' %></h4>
    <div class="row">
      <div class="w-100 p-3"> </div>
    </div>
    <div class="row">
      <div class="w-100 p-3"> </div>
    </div>
    <div class="row">
      <div class="w-100 p-3"> </div>
    </div>
    <div class="row">
      <div class="w-100 p-3"> </div>
    </div>
    </div>

    <div id="calificacion" class="tab-pane fade">
      <h3>Calificaciones</h3>
      <p>Aqui debe mostrar sus calificaciones.</p>
      <%= react_component "Calificaciones" , {post: @notas} %>
      <div class="row">
        <div class="w-100 p-3"> </div>
      </div>
      <div class="row">
        <div class="w-100 p-3"> </div>
      </div>
      <div class="row">
        <div class="w-100 p-3"> </div>
      </div>
      <div class="row">
        <div class="w-100 p-3"> </div>
      </div>
      <div class="row">
        <div class="w-100 p-3"> </div>
      </div>
      <div class="row">
        <div class="w-100 p-3"> </div>
      </div>
      <div class="row">
        <div class="w-100 p-3"> </div>
      </div>
      <div class="row">
        <div class="w-100 p-3"> </div>
      </div>
      <div class="row">
        <div class="w-100 p-3"> </div>
      </div>
      <div class="row">
        <div class="w-100 p-3"> </div>
      </div>
      <div class="row">
        <div class="w-100 p-3"> </div>
      </div>
      <div class="row">
        <div class="w-100 p-3"> </div>
      </div>
      <div class="row">
        <div class="w-100 p-3"> </div>
      </div>
      <div class="row">
        <div class="w-100 p-3"> </div>
      </div>
      <div class="row">
        <div class="w-100 p-3"> </div>
      </div>
      <div class="row">
        <div class="w-100 p-3"> </div>
      </div>
      <div class="row">
        <div class="w-100 p-3"> </div>
      </div>
      <div class="row">
        <div class="w-100 p-3"> </div>
      </div>
    </div>

    <div id="curso" class="tab-pane fade">
      <h3>Mis Cursos</h3>
      <table class="table table-bordered">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Duracion</th>
          <th>Curso</th>
          <th>Compañeros</th>
          <th>Cambiar</th>
          <th>Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <% @cursoList.each_index do |p| %>
        <tr>
          <td><%= @cursoList[p].nombre %></td>
          <td><%= @cursoList[p].duracion %> horas</td>
          <td><%= @cursoList[p].id_curso %></td>
          <td><%= link_to 'Ver Compañeros', "/people/inscritos?id="+@cursoList[p].id_curso %></td>
          <td><%= link_to 'Editar', edit_estudiante_inscripcion_path(@estudiante, @tmp[p]) %></td>
          <td><%= link_to 'Eliminar', estudiante_inscripcion_path(@tmp[p].estudiante, @tmp[p]), method: :delete, data: { confirm: 'Estas seguro?'}, :remote => true %></td>
        </tr>
        <% end %>
      </tbody>
      </table>
       
      <a class="btn btn-primary" href=<%=new_estudiante_inscripcion_path(current_estudiante)%> role="button">Añadir curso</a>
      <div class="row">
        <div class="w-100 p-3"> </div>
      </div>
      <div class="row">
        <div class="w-100 p-3"> </div>
      </div>
      <div class="row">
        <div class="w-100 p-3"> </div>
      </div>
      <div class="row">
        <div class="w-100 p-3"> </div>
      </div>
      <div class="row">
        <div class="w-100 p-3"> </div>
      </div>
      <div class="row">
        <div class="w-100 p-3"> </div>
      </div>
      <div class="row">
        <div class="w-100 p-3"> </div>
      </div>
      <div class="row">
        <div class="w-100 p-3"> </div>
      </div>
      <div class="row">
        <div class="w-100 p-3"> </div>
      </div>
      <div class="row">
        <div class="w-100 p-3"> </div>
      </div>
      <div class="row">
        <div class="w-100 p-3"> </div>
      </div>
      <div class="row">
        <div class="w-100 p-3"> </div>
      </div>
      <div class="row">
        <div class="w-100 p-3"> </div>
      </div>
    </div>
  </div>
  <div class="row bg-secondary" id="social">
    <div class="col-xl-12">
      <div class="row">
        <ul class="col-xl-12 list-inline mx-auto" id="redes">
          <li class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 list-inline-item"><a id="face" href="https://www.facebook.com/pg/politecnica.apn/posts/?ref=page_internal">facebook</a></li>
          <li class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 list-inline-item"><a id="twi" href="#">twitter</a></li>
          <li class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 list-inline-item"><a id="insta" href="https://www.instagram.com/politecnica.apn/?hl=es-la">instagram</a></li>
        </ul> 
      </div>
    </div>
  </div>
      

  <div class="row">
    <footer class="col-xl-12">
      <p class="text-center">&copy;2019 Academia Politécnica de Nivelación. Todos los derechos reservados.</p>
      <p class="text-right">Sitio desarrollado por: Juan José Flores y Anthony Herrera</p>
    </footer>
  </div>
</div>

</body>
</html>

