<h2>login exitoso</h2>
<h3><%= current_estudiante.nombres %> <%= current_estudiante.apellidos %>  <%= current_estudiante.domicilio %></h3>
<%= react_component "Test" , {post: @testxd } %>
<h4><%= link_to "calificaciones", estudiantes_vistaNotas_path %></h4>
<h4><%= link_to "Actualizar Domicilio", estudiantes_update_path %></h4>
<%= link_to "logout", destroy_estudiante_session_path, method: :delete %>