<!DOCTYPE html>
<html lang="en">
<head>
  <title>User Count</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <%= stylesheet_link_tag "cuenta" %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

	<div class="container-fluid">
	  <div class="row">
	    <header class="col-sm-12">
	      <div class="row justify-content-center">
	        <h1 class="col-xl-10">Academia Politécnica de Nivelación</h1>
	        <!--img id="logo" class="img-responsive" src="images/logonavidad.jpg" alt="logo"-->
	        <%= link_to image_tag("logonavidad.jpg", id: "logo", class: "img-responsive") %>
	      </div>
	    </header>
	        
	  </div>
		<div class="row sticky-top" id="barralinks">
	    	<nav class="navbar navbar-expand-xl navbar-dark col-xl-12">
	        	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menuPrincipal">
	         		<span class="navbar-toggler-icon"></span>
	         	</button>
	         	<div id="menuPrincipal" class="collapse navbar-collapse">
	           		<ul class="list-inline navbar-nav mx-auto">
	              		<li class="mr-5 list-inline-item nav-item active" ><h3 id="welcome">Bienvenido <%= current_estudiante.nombres %> <%= current_estudiante.apellidos %></h3></li>
	            	</ul>
	            	<ul class="nav navbar-nav navbar-right">
	              		<li><h3><%= link_to("Logout", destroy_estudiante_session_path, class: "nav-link", method: "delete") %></h3></li>
	            	</ul>
	          	</div>
	    	</nav>
		</div>

	<%= render 'form' %>

	<div id = "respuesta">
		
	</div>
	
	<div>
		<h4><%= link_to "Volver", '/estudiantes/cuenta' %></h4>
	</div>

	</div>
</body>
</html>
