<!DOCTYPE html>
<html lang="en">
<head>
  <title>Admin Count</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <%= stylesheet_link_tag "cuenta" %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container-fluid">
  <div class="row">
    <header class="col-sm-12">
      <div class="row justify-content-center">
        <h1 class="col-xl-10">Academia Politécnica de Nivelación</h1>
        <!--img id="logo" class="img-responsive" src="images/logonavidad.jpg" alt="logo"-->
        <%= link_to image_tag("logonavidad.jpg", id: "logo", class: "img-responsive") %>
      </div>
    </header>
        
  </div>
  <div class="row sticky-top" id="barralinks">
      <nav class="navbar navbar-expand-xl navbar-dark col-xl-12">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menuPrincipal">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div id="menuPrincipal" class="collapse navbar-collapse">
              <ul class="list-inline navbar-nav mx-auto">
                  <li class="mr-5 list-inline-item nav-item active" ><h3 id="welcome">Bienvenido <%= current_admin.email %></h3></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                  <li><h3><%= link_to("Logout", destroy_admin_session_path, class: "nav-link", method: "delete") %></h3></li>
              </ul>
            </div>
      </nav>
  </div>

  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#perfil">Perfil</a></li>
    <li><a data-toggle="tab" href="#noticia">Noticias</a></li>
    <li><a data-toggle="tab" href="#curso">Cursos</a></li>
  </ul>

  <div class="tab-content">
    <div id="perfil" class="tab-pane fade in active">
      <h3>Perfil de Admin</h3>
      <table width=”650" id=”main” border=”0" cellpadding=”0" cellspacing=”20">
    <tr>
    <td class=”divider” colspan=”2" bgcolor=”#555555" height=”2"></td>
    </tr>
    <tr>
    <td colspan=”2">
    <p>Nombres: no info</p>
    <p>Apellidos: no info</p>
    <p>Cedula: no info</p>
    <p>Email: <%= current_admin.email %></p>
    <p>Direccion: no info</p>
    </td>
    </tr>
    <tr>
    <td class=”divider” colspan=”2" bgcolor=”#555555" height=”2"></td>
    </tr>
    <tr>
    <td id=”footer” colspan=”2" align=”center”>
    <p>&copy;2019 Academia Politecnica de Nivelacion</p>
    </td>
    </tr>
    </table>
    <br>
    <div class="row">
      <div class="w-100 p-3"> </div>
    </div>
    <div class="row">
      <div class="w-100 p-3"> </div>
    </div>
    <div class="row">
      <div class="w-100 p-3"> </div>
    </div>
    <div class="row">
      <div class="w-100 p-3"> </div>
    </div>
    <div class="row">
      <div class="w-100 p-3"> </div>
    </div>
    <div class="row">
      <div class="w-100 p-3"> </div>
    </div>
    <div class="row">
      <div class="w-100 p-3"> </div>
    </div>
    <div class="row">
      <div class="w-100 p-3"> </div>
    </div>
    <div class="row">
      <div class="w-100 p-3"> </div>
    </div>
    </div>

    <div id="noticia" class="tab-pane fade">
      <h3>Noticias</h3>
      <div class="row">
        <h2 id="info" class="col-xl-12">Noticias recientes</h2>
        <div class="container">
          <div id="noticias" class="row">
        
          </div>
        </div>
      </div>
      <br />
      <a class="btn btn-primary" id="boton" href=<%=new_article_path%> role="button">Nueva noticia</a>
      <div class="row">
        <div class="w-100 p-3"> </div>
      </div>
    </div>

    <div id="curso" class="tab-pane fade">
      <h3>Cursos</h3>
       
      <%= form_tag do%>
        <select id="selectCurso"></select>
        <button type = "button" id = "submitQueryPeople">Ver Estudiantes</button>
      <% end %>
      <table style="width:100%" id= "tablaCompaneros">
        <tr>
          <th>Cedula</th>
          <th>Nombre</th>
          <th>Apellido</th> 
          <th>Correo</th>
          <th>Curso</th>
        </tr>
      </table>
      <div class="row">
        <div class="w-100 p-3"> </div>
      </div>
      <div class="row">
        <div class="w-100 p-3"> </div>
      </div>
      <div class="row">
        <div class="w-100 p-3"> </div>
      </div>
      <div class="row">
        <div class="w-100 p-3"> </div>
      </div>
      <div class="row">
        <div class="w-100 p-3"> </div>
      </div>
      <div class="row">
        <div class="w-100 p-3"> </div>
      </div>
      <div class="row">
        <div class="w-100 p-3"> </div>
      </div>
      <div class="row">
        <div class="w-100 p-3"> </div>
      </div>
      <div class="row">
        <div class="w-100 p-3"> </div>
      </div>
      <div class="row">
        <div class="w-100 p-3"> </div>
      </div>
      <div class="row">
        <div class="w-100 p-3"> </div>
      </div>
      <div class="row">
        <div class="w-100 p-3"> </div>
      </div>
      <div class="row">
        <div class="w-100 p-3"> </div>
      </div>
      <div class="row">
        <div class="w-100 p-3"> </div>
      </div>
      <div class="row">
        <div class="w-100 p-3"> </div>
      </div>
      <div class="row">
        <div class="w-100 p-3"> </div>
      </div>
      <div class="row">
        <div class="w-100 p-3"> </div>
      </div>
    </div>
  </div>
  
  <div class="row bg-secondary" id="social">
    <div class="col-xl-12">
      <div class="row">
        <ul class="col-xl-12 list-inline mx-auto" id="redes">
          <li class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 list-inline-item"><a id="face" href="https://www.facebook.com/pg/politecnica.apn/posts/?ref=page_internal">facebook</a></li>
          <li class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 list-inline-item"><a id="twi" href="#">twitter</a></li>
          <li class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 list-inline-item"><a id="insta" href="https://www.instagram.com/politecnica.apn/?hl=es-la">instagram</a></li>
        </ul> 
      </div>
    </div>
  </div>
      

  <div class="row">
    <footer class="col-xl-12">
      <p class="text-center">&copy;2019 Academia Politécnica de Nivelación. Todos los derechos reservados.</p>
      <p class="text-right">Sitio desarrollado por: Juan José Flores y Anthony Herrera</p>
    </footer>
  </div>
</div>
<script type="text/javascript" src="/javascript/script.js"></script>

</body>
</html>