<h1>Nueva Noticia</h1>
<div class="text-center">
  <%= form_with scope: :article, url: articles_path do |form| %>
  
    <%= form.label :titulo %><br>
    <%= form.text_field :titulo %><br>
  
 
  
    <%= form.label :texto %><br>
    <%= form.text_area :texto %><br>
  
 
  
    <%= form.submit "Crear"%>
  
<% end %>
</div>