<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="noticias, informacion, inscripciones, html, daw, cursos, nivelacion">
    <meta name="author" content="Juan Jose Flores, Anthony Herrera">
    <title>Contactenos</title>
    
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <header class="col-xl-12">
          <div class="row justify-content-center">
            <h1 class="col-10"><%= link_to("Academia Politécnica de Nivelación", root_path) %></h1>
            <%= link_to image_tag("logonavidad.jpg", id: "logo", class: "img-responsive") %>
          </div>
        </header>
        
      </div>

      <div class="row sticky-top" id="barralinks">
        <nav class="navbar navbar-expand-xl navbar-dark col-xl-12">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#menuPrincipal">
          <span class="navbar-toggler-icon"></span>
          </button>
          <div id="menuPrincipal" class="collapse navbar-collapse">
            <ul class="list-inline navbar-nav mx-auto">
              <li class="mr-5 list-inline-item nav-item active" ><%= link_to("Nosotros", root_path + "nosotros/index", class: "nav-link") %></li>
              <li class="mr-5 list-inline-item nav-item active" ><%= link_to("Calendario", root_path + "calendario/index", class: "nav-link") %></li>
              <li class="mr-5 list-inline-item nav-item active" ><%= link_to("Noticias", root_path + "noticias/index", class: "nav-link") %></li>
              <li class="mr-5 list-inline-item nav-item active" ><%= link_to("Preguntas Frecuentes", root_path + "preguntas/index", class: "nav-link") %></li>
              <li class="mr-5 list-inline-item nav-item active" ><a class="nav-link" >Contáctenos</a></li>

            </ul>
          </div>
        </nav>
      </div>

      <div class="container">
      <div class="row">
        <section class="col-xl-9">
          <h2>Ingresa tus datos aquí para contacto</h2>
          <%= flash[:notice] %>
          <%= form_tag 'create',method: :post do %>
          <form>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label>Nombres</label>
                <%= text_field_tag :nombres, nil, class: 'form-control', :placeholder => 'First name', :required => true, :maxlength => '20', :pattern => '^([a-zA-Z0-9)$' %> <br/>
              </div>
              <div class="form-group col-md-6">
                <label>Apellidos</label>
                <%= text_field_tag :apellidos, nil, class: 'form-control', :placeholder => 'Last name', :required => true, :maxlength => '20', :pattern => '^([a-zA-Z0-9)$' %> <br/>
              </div>
            </div>
            <div class="form-group">
              <label>Email</label>
              <%= email_field_tag :email, nil, class: 'form-control', :placeholder => 'Email', :required => true %> <br/>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label>Ciudad</label>
                <%= text_field_tag :ciudad, nil, class: 'form-control', :placeholder => 'Ciudad', :required => true %> <br/>
              </div>
              <div class="form-group col-md-6">
                <label>Zona</label>
                <%= select_tag :zona, options_for_select(['Norte','Centro','Sur']), class: 'form-control', :prompt => 'Selecciona', :required => true  %> <br/>
              </div>
            </div>
            <div class="form-group">
              <label>Dirección</label>
              <%= text_field_tag :direccion, nil, class: 'form-control', :placeholder => 'Direccion', :required => true %> <br/>
            </div>
            <div class="form-group">
              <label>Teléfono</label>
              <%= text_field_tag :telefono, nil, class: 'form-control', :placeholder => 'Telefono', :required => true  %> <br/>
            </div>
            

            <div class="form-row align-items-center">
              <div class="col-auto my-1">
                <div>
                  <label>Curso</label>
                </div>
              </div>
              <div class="col-auto my-1">
                <%= select_tag :curso, options_for_select(['Ser Bachiller','Pre-Politecnico']), class: 'form-control', :prompt => 'Selecciona', :required => true  %> <br/>
              </div>

              <div class="col-auto my-1">
                <%= submit_tag "Envía", class: "btn btn-primary" %>
              </div>
            </div>
          </form>      
          <% end %>
        </section>
        <div id="infoPagForm" class="text-center col-xl-3">
          <!--img id="logocon" class="img-responsive img-rounded" src="../images/logo.png" alt="logocon"-->
          <%= link_to image_tag("logo.png", id: "logocon", class: "img-responsive img-rounded", alt: "logocon") %>
          <div class="col-xl-12">Academia Politécnica de Nivelación</div>
          <div class="col-xl-12">Dirección: Alborada, 7ma etapa</div>
          <div class="col-xl-12">Teléfono: (04) 5127128</div>
        </div>
      </div>
    </div>

      <div class="row bg-secondary" id="social">
        <div class="col-xl-12">
          <div class="row">
            <ul class="col-xl-12 list-inline" id="redes">
              <li class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 list-inline-item"><a id="face" href="https://www.facebook.com/pg/politecnica.apn/posts/?ref=page_internal">facebook</a></li>
              <li class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 list-inline-item"><a id="twi" href="#">twitter</a></li>
              <li class="col-xl-3 col-lg-3 col-md-3 col-sm-3 col-3 list-inline-item"><a id="insta" href="https://www.instagram.com/politecnica.apn/?hl=es-la">instagram</a></li>
            </ul> 
          </div>
        </div>
      </div>

      <div class="row">
        <footer class="col-xl-12">
          <p class="text-center">&copy;2018 Academia Politécnica de Nivelación. Todos los derechos reservados.</p>
          <p class="text-right">Sitio desarrollado por: Juan José Flores y Anthony Herrera</p>
        </footer>
      </div>
    </div>
    
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script> 
    
  </body>
</html>
